body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.room{
    margin-bottom:15px;
}

input{
    padding:10px;
    border:none;
    border-radius:8px;
    outline:none;
}

button{
    padding:10px 16px;
    border:none;
    border-radius:8px;
    background:#00e5ff;
    font-weight:bold;
    cursor:pointer;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:12px;
    margin-top:20px;
}

.cell{
    width:100px;
    height:100px;
    background:rgba(255,255,255,0.25);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:52px;
    border-radius:14px;
    cursor:pointer;
}
