body{
    background-color: black;
    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
    border: 2px solid white;
   
    width: 420px;
  padding: 30px;
  border-radius: 20px;
  background: #1a1a1a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    
    
}
.h{
   font-size: 40px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    
    color: #f5deb3;
  text-align: center;
  font-size: 16px;
}
#ques-text{
    
   
     color: white;
  font-size: 20px;
  margin-bottom: 20px;

}
.hidden{
    display: none;
}
#res-container {
  text-align: center;
  color: white;
}

#score {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}
#choice-list{
    color: white;
    gap: 30px;
}

/* #choice-list li {
  background: #2a2a2a;
  color: white;
  padding: 12px 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#choice-list li:hover {
  background: #DF8908;
  color: black;
} */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(90deg, #DF8908, #B415FF);
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
button:focus-visible {
  outline: 2px solid #DF8908;
  outline-offset: 2px;
}