body{
     font-family: "Asimovian", sans-serif;
     font-weight: 400;
     font-style: normal;
     background-color: #0a0a0a;
}

#home,h3,footer{
    text-align: center;
    font-size:20px ;
}
h1{
    color: #a0a0a0;
}
#home{
   
    height: 400px;
    color:  #ffffff;
    font-size: 50px;
    background-color: #161616;
    border: #ffffff solid 1px;
    padding:1rem;
    text-align: center;
    flex:1;
    margin:0.75rem;
    border-radius:50px;

}
nav{
    position:absolute;
    right:30px;
    top:15px;
}

.menu-grid{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}

.card{
    background-color: #161616;
    border: #ffffff solid 1px;
    padding:0.6rem;
    text-align: center;
    flex:1 1 ;
    gap:20px;
    margin:0.7rem;
    border-radius: 10px;
    color: #ffffff;
}

.card-content{
    background-color:rgba(255, 255, 255, 0.05) ;
    border-radius: 50px;
    border: #ffffff solid 1px;
}

h3{
    font-size: 30px;
}

.card{
    transition:0.3s ease ;
    transform: 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

@media (max-width:768px){
    .menu-grid{
        justify-content:center;
    }
    .card{
        flex:1 1 45%;
    }
}

@media (max-width:480px){
    .card{
        flex:1 1 100%;
    }
}