body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f172a;
  color:white;
  display:flex;
  height:100vh
}

#editor{
  flex:3;
  padding:20px
}

textarea{
  width:100%;
  height:70%;
  background:#020617;
  color:#e5e7eb;
  border:none;
  padding:15px;
  font-size:16px;
  resize:none;
  outline:none
}

#users{
  margin-top:10px
}

.user{
  display:inline-block;
  padding:5px 10px;
  border-radius:20px;
  margin-right:5px;
  font-size:12px
}

#chat{
  flex:1;
  background:#020617;
  padding:15px;
  display:flex;
  flex-direction:column
}

#messages{
  flex:1;
  overflow:auto;
  font-size:14px
}

#messages p{
  margin:5px 0
}

input{
  padding:10px;
  border:none;
  outline:none;
  background:#0f172a;
  color:white
}
